@import "tailwindcss";

@theme {
  --color-brand-yellow: #f9c22b;
  --color-brand-black: #2e222f;
  --color-brand-white: #ffffff
}

@layer utilities{
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat), sans-serif;
  background-color: #2e222f;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}
